@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

body {
  margin: 0px;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

canvas {
  cursor: pointer;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  margin: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tools #newMaze {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  margin: 0 15px;
  border-radius: 5px;
}

.tools #saveScore {
  background: gold;
  color: black;
  display: none;
}

/* canvas {
  width: 50%;
  height: 50%;
} */

#useOwn {
  display: none;
}

.message {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#no {
  display: none;
}

footer {
  /* bottom of page */
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
}

footer p a {
  text-decoration: none;
  color: rgb(16, 114, 32);
}

/* if screen is less than 575px, hide everything on the page and unhide #no */
@media screen and (max-width: 650px) {
  .field {
    display: none;
  }
  .tools {
    display: none;
  }
  .message {
    display: none;
  }
  #no {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
